/* SEARCH-GROUP */

.search__group {
  height: auto;
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  @media #{$small-only} {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.search__group .left {
  padding: 16px 20px;
}
.search__group .right {
  padding: 16px 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/* FILTER */
.filter {
  flex: 1 1;
}

.filter input {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  padding: 12px;
  border: 1px solid #9e9e9e;
  color: #333333;
  font-size: 16px;
}

.filter-location {
  flex: 1 0;

  @media #{$medium-up} {
    flex: 0 0 350px;
  }
}

.search__input .label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333333;
}

.button.current__location {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #4a90e2;
  text-decoration: underline;
  margin: 10px 0;
}

.button.current__location .location__icon {
  margin-right: 8px;
}

.search__input .field {
  border: 1px solid #9e9e9e;
  max-width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #333333;
}

/* FILTERS */
.filters input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: #fefefe;
}
