// Global variables
@function lower-bound($list) {
  @return nth($list, 1);
}

@function upper-bound($list) {
  @return nth($list, 2);
}

$screen-xs-min: 768px;
$small-range: (0px, 720px);
$medium-range: (721px, 1152px);
$large-range: (1153px, 1440px);

$screen: "only screen" !default;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;
$medium-up: "#{$screen} and (min-width: #{lower-bound($medium-range)})" !default;
$large-up: "#{$screen} and (min-width: #{lower-bound($large-range)})" !default;

$font-weight-regular: 400;
$font-weight-semibold: 600;
