/* MAP */

.map {
  display: flex;
  height: 72vh;

  @media #{$medium-up} {
    overflow-y: hidden;
  }
}

.map .list {
  flex: 1 0 320px;

  @media #{$medium-up} {
    flex: 0 0 320px;
    max-width: 400px;
    height: 100%;
    overflow: auto;
  }

  @media #{$large-up} {
    flex: 1 0 320px;
  }
}

.map .view {
  flex: 2;
  background: grey;
  margin-right: 32px;

  @media #{$small-only} {
    display: none;
  }
}

.marker {
  text-align: center;
  position: relative;
  /* background-image: url(../src/map-pin.svg); */
  /* background-size: 72px 90px;*/
  /* width: 28px;
  height: 35px; */
}
.marker .pin {
  position: absolute;
  margin: -20px 0 0 -12px;
}
.marker .number {
  position: absolute;
  margin: -24px 0 0 -8px;
  font-size: 14px;
  color: white;
}
