@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");

body {
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
}

/* MAP */

.map {
  display: flex;
  height: 60vh;
}

.map .list {
  flex: 1;
}

.map .view {
  flex: 2;
  background: grey;
}

.marker {
  width: 24px;
  height: 30px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.23);
  background-color: #2471c9;
}

/* SEARCH-GROUP */

.search__group {
  height: auto;
  padding: 16px 20px;
  background: #f9f9f9;
}

.search__input .label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #333333;
}

.search__input .field {
  border: 1px solid #9e9e9e;
  padding: 10px 12px;
  font-size: 18px;
  color: #333333;
}

/* MAP-LIST */

.counter__text {
  padding: 24px 0 8px 0;
  display: block;
  font-size: 16px;
  line-height: 1.38;
  color: #333333;
}

.list__item {
  color: #333333;
  display: flex;
  flex-direction: row;
}

.list__item > :first-child {
  margin-right: 16px;
}

.list__item .index {
  color: white;
  background: #7f7f7f;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  flex-shrink: 0;
}

.list__item .content {
  padding: 20px 20px 20px 0;
  display: flex;
  border-bottom: 1px solid rgb(178, 178, 178);
  flex-grow: 1;
}

.list__item .content .distance {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}

.list__item .content .info {
  display: block;
  margin-right: 16px;
  flex-grow: 1;
}

.list__item .info .title {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
}

.list__item .info .description {
  font-size: 16px;
  line-height: 1.38;
}
